.container {
    margin: auto;
}

.container input {
    border-radius: 3px;
    height: 100%;
}

.container button {
    border-radius: 3px;
    height: 100%;
    color: whitesmoke;
    background-color: darkslategray;
    box-shadow: 0 5px 5px black;
    &:hover {
        color: darkslategray;
        background-color: whitesmoke;
        box-shadow: 0 5px 5px white;
    }
}